datasets==2.7.1
git+https://github.com/fsschneider/DeepOBS.git@v1.2.0-beta0#egg=DeepOBS
ipywidgets==8.0.3
jupyterlab==3.5.0
matplotlib==3.6.2
tensorboard==2.11.0
tensorboardX==2.5.1
torch==1.13.0
torchtext==0.3.1
torchvision==0.14.0
